.results-container {
}

.left-container {
  padding: 30px;
}

.right-container {
  padding: 30px;
}

.options-wrapper {
  padding: 20px 0 0px 30px;
}

:host ::ng-deep .p-multiselect {
  width: 250px;
}
