<div>
  <div class="row">
    <div class="col-6">
      <div>
        <p-dropdown
          [options]="srcValuesets"
          [(ngModel)]="selectedSrc"
          optionLabel="label"
          optionValue="value"
          placeholder="Value set"
        ></p-dropdown>
      </div>
      <div *ngIf="selectedSrc && selectedSrc.value">
        <ng-container
          *ngIf="
            !config.data.valueset.codes[selectedSrc.value].src.value ||
            config.data.valueset.codes[selectedSrc.value].src.value.length === 0
          "
        >
          <div>No codes</div>
        </ng-container>
        <table
          *ngIf="
            config.data.valueset.codes[selectedSrc.value].src.value &&
            config.data.valueset.codes[selectedSrc.value].src.value.length > 0
          "
          class="table table-striped table-sm table-bordered"
          style="text-align: center; margin-bottom: 0;"
        >
          <tr>
            <th>Value</th>
            <th>Description</th>
            <th>Code System</th>
            <th>Usage</th>
            <th>Comments</th>
          </tr>
          <tr
            *ngFor="
              let item of config.data.valueset.codes[selectedSrc.value].src
                .value
            "
          >
            <td>{{ item.value }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.codeSystem }}</td>
            <td>{{ item.usage }}</td>
            <td>{{ item.comment }}</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-6">
      <div>
        <p-dropdown
          [options]="derivedValuesets"
          [(ngModel)]="selectedDerived"
          optionLabel="label"
          optionValue="value"
          placeholder="Value set"
        ></p-dropdown>
      </div>
      <div *ngIf="selectedDerived && selectedDerived.value">
        <ng-container
          *ngIf="
            !config.data.valueset.codes[selectedDerived.value].derived[
              config.data.igId
            ] ||
            config.data.valueset.codes[selectedDerived.value].derived[
              config.data.igId
            ].length === 0
          "
        >
          <div>No codes</div>
        </ng-container>
        <table
          *ngIf="
            config.data.valueset.codes[selectedDerived.value].derived[
              config.data.igId
            ] &&
            config.data.valueset.codes[selectedDerived.value].derived[
              config.data.igId
            ].length > 0
          "
          class="table table-striped table-sm table-bordered"
          style="text-align: center; margin-bottom: 0;"
        >
          <tr>
            <th>Value</th>
            <th>Description</th>
            <th>Code System</th>
            <th>Usage</th>
            <th>Comments</th>
          </tr>
          <tr
            *ngFor="
              let item of config.data.valueset.codes[selectedDerived.value]
                .derived[config.data.igId];
              index as i
            "
          >
            <td
              [ngClass]="{
                changed:
                  selectedSrc &&
                  config.data.valueset.codes[selectedSrc.value].src.value &&
                  config.data.valueset.codes[selectedSrc.value].src.value[i] &&
                  config.data.valueset.codes[selectedSrc.value].src.value[i]
                    .value !== item.value,
                added:
                  selectedSrc &&
                  (!config.data.valueset.codes[selectedSrc.value].src.value ||
                    !config.data.valueset.codes[selectedSrc.value].src.value[i])
              }"
            >
              {{ item.value }}
            </td>
            <td
              [ngClass]="{
                changed:
                  selectedSrc &&
                  config.data.valueset.codes[selectedSrc.value].src.value &&
                  config.data.valueset.codes[selectedSrc.value].src.value[i] &&
                  config.data.valueset.codes[selectedSrc.value].src.value[i]
                    .description !== item.description,
                added:
                  selectedSrc &&
                  (!config.data.valueset.codes[selectedSrc.value].src.value ||
                    !config.data.valueset.codes[selectedSrc.value].src.value[i])
              }"
            >
              {{ item.description }}
            </td>
            <td
              [ngClass]="{
                changed:
                  selectedSrc &&
                  config.data.valueset.codes[selectedSrc.value].src.value &&
                  config.data.valueset.codes[selectedSrc.value].src.value[i] &&
                  config.data.valueset.codes[selectedSrc.value].src.value[i]
                    .codeSystem !== item.codeSystem,
                added:
                  selectedSrc &&
                  (!config.data.valueset.codes[selectedSrc.value].src.value ||
                    !config.data.valueset.codes[selectedSrc.value].src.value[i])
              }"
            >
              {{ item.codeSystem }}
            </td>
            <td
              [ngClass]="{
                changed:
                  selectedSrc &&
                  config.data.valueset.codes[selectedSrc.value].src.value &&
                  config.data.valueset.codes[selectedSrc.value].src.value[i] &&
                  config.data.valueset.codes[selectedSrc.value].src.value[i]
                    .usage !== item.usage,
                added:
                  selectedSrc &&
                  (!config.data.valueset.codes[selectedSrc.value].src.value ||
                    !config.data.valueset.codes[selectedSrc.value].src.value[i])
              }"
            >
              {{ item.usage }}
            </td>
            <td
              [ngClass]="{
                changed:
                  selectedSrc &&
                  config.data.valueset.codes[selectedSrc.value].src.value &&
                  config.data.valueset.codes[selectedSrc.value].src.value[i] &&
                  config.data.valueset.codes[selectedSrc.value].src.value[i]
                    .comment !== item.comment,
                added:
                  selectedSrc &&
                  (!config.data.valueset.codes[selectedSrc.value].src.value ||
                    !config.data.valueset.codes[selectedSrc.value].src.value[i])
              }"
            >
              {{ item.comment }}
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
