<div>
  <div class="row">
    <div class="col-6">
      <h4>Source Bindings</h4>
    </div>
    <div class="col-6">
      <h4>Derived Bindings</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div>
        <p-dropdown
          [options]="srcValuesets"
          [(ngModel)]="selectedSrc"
          optionLabel="bindingIdentifier"
          optionValue="bindingIdentifier"
          (ngModelChange)="srcChanged($event)"
          placeholder="Value set"
          appendTo="body"
        ></p-dropdown>
      </div>
      <div *ngIf="selectedSrc">
        <ng-container *ngIf="selectedSrc.codes.length === 0">
          <div>No codes</div>
        </ng-container>
        <table
          *ngIf="selectedSrc.codes.length > 0"
          class="table table-striped table-sm table-bordered"
          style="text-align: center; margin-bottom: 0"
        >
          <tr>
            <th>Value</th>
            <th>Description</th>
            <th>Code System</th>
            <th>Usage</th>
            <th>Comments</th>
          </tr>
          <tr *ngFor="let item of selectedSrc.codes">
            <td>{{ item.value }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.codeSystem }}</td>
            <td>{{ item.usage }}</td>
            <td>{{ item.comment }}</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-6">
      <div>
        <p-dropdown
          [options]="derivedValuesets"
          [(ngModel)]="selectedDerived"
          optionLabel="bindingIdentifier"
          optionValue="bindingIdentifier"
          (ngModelChange)="derivedChanged($event)"
          placeholder="Value set"
          appendTo="body"
        ></p-dropdown>
      </div>
      <div *ngIf="selectedDerived">
        <ng-container *ngIf="comparedCodes.length === 0">
          <div>No codes</div>
        </ng-container>
        <table
          *ngIf="comparedCodes.length > 0"
          class="table table-striped table-sm table-bordered"
          style="text-align: center; margin-bottom: 0"
        >
          <tr>
            <th>Value</th>
            <th>Description</th>
            <th>Code System</th>
            <th>Usage</th>
            <th>Comments</th>
          </tr>
          <tr
            *ngFor="let item of comparedCodes; index as i"
            [ngClass]="{
              deleted: item.status === 'deleted',
              added: item.status === 'added'
            }"
          >
            <td>
              {{ item.value }}
            </td>
            <td
              [ngClass]="{
                changed: item.description?.status === 'changed'
              }"
            >
              {{ item.description }}
            </td>
            <td>
              {{ item.codeSystem }}
            </td>
            <td
              [ngClass]="{
                changed: item.usage?.status === 'changed'
              }"
            >
              <ng-container *ngIf="item.usage?.status">
                {{ item.usage.value }}
              </ng-container>
              <ng-container *ngIf="!item.usage?.status">
                {{ item.usage }}
              </ng-container>
              <!-- <ng-container *ngIf="item.usage?.value || item.usage?.value === ''">
                {{ item.usage.value}}
            </ng-container>
            <ng-container *ngIf="!item.usage?.value && item.usage?.value !== ''">
                {{ item.usage }}

            </ng-container> -->
            </td>
            <td
              [ngClass]="{
                changed: item.comment?.status === 'changed'
              }"
            >
              {{ item.comment }}
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
