<div style="padding: 20px">
  <h3>Glossary</h3>

  <div>
    <table>
      <tr>
        <th style="width: 350px">Term</th>
        <th>Definition</th>
      </tr>
      <tr>
        <td style="width: 350px">Consequential</td>
        <td>Any comparison in which the parent's usage is: R, RE or C with an R or RE</td>
      </tr>
      <tr>
        <td style="width: 350px">Non-Consequential</td>
        <td>Any comparison in which the parent's usage is: O, X or C with only O/X or X/O</td>
      </tr>
      <tr>
        <td style="width: 350px">Stronger</td>
        <td> Adds (strengthen) an implementation capability in terms of support for the data element. </td>
      </tr>
      <tr>
        <td style="width: 350px">Relaxed</td>
        <td> Removes (lessens) an implementation capability in terms of support for the data element. /td>
      </tr>
      <tr>
        <td style="width: 350px">Removed</td>
        <td> Removes an implementation capability in terms of support for a data element. </td>
      </tr>
      <tr>
        <td style="width: 350px">Allowance</td>
        <td> Allows (for a strengthen) of an implementation capability in terms of support for the data element. </td>
      </tr>
    </table>
  </div>
</div>