:host ::ng-deep .p-panel-header {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
  padding: 10px;
}


:host ::ng-deep .p-panel .p-panel-content {
  padding: 0px;
}

:host ::ng-deep .p-treetable .p-treetable-tbody > tr > td  {
    padding: .571em .857em;
    background-color: inherit;
    border: 1px solid #c8c8c8;

}
:host ::ng-deep .p-treetable .p-treetable-thead > tr > th {
    padding: .571em .857em;
    border: 1px solid #c8c8c8;
    font-weight: 700;
    color: #333;
    background-color: #f4f4f4;
    font-size: 14px;
}

:host ::ng-deep .p-panel .p-panel-content {
    overflow: scroll;
}

.data-dd {
    display: flex;
    text-align: right;
    float: right;
    padding: 5px 20px 0 0;
}
