<div *ngIf="source">
  <table
    class="table table-striped table-sm table-bordered"
    style="text-align: center; margin-bottom: 0;"
  >
    <tr>
      <td
        [attr.rowspan]="valueset.valuesets.src.value.length + 1"
        style="width: 10px;"
        class="binding-vs"
      ></td>
      <td style="vertical-align: middle; width: 25px;">
        <!-- <app-binding-badge [context]="ctx"></app-binding-badge> -->
      </td>
      <td [pTooltip]="valueset.strength.src.value" tooltipPosition="top">
        <ng-container [ngSwitch]="valueset.strength.src.value">
          <strong *ngSwitchCase="'Suggested'">S</strong>
          <strong *ngSwitchCase="'Required'">R</strong>
          <strong *ngSwitchCase="'Unspecified'">U</strong>
        </ng-container>
      </td>
      <td pTooltip="Binding Locations" tooltipPosition="top">
        <strong>{{valueset.locations.src.value.length > 0 ? (valueset.locations.src.value | json) : '.'}}</strong>
      </td>
    </tr>
    <tr *ngFor="let item of valueset.valuesets.src.value">
      <td colspan="3">
        <div
          tooltipPosition="top"
          style="display: flex; flex-direction: row; align-items: center;"
        >
          <!-- <app-display-ref [element]="item" [hideDescription]="true"></app-display-ref> -->
          {{ item.bindingIdentifier }}
        </div>
      </td>
    </tr>
  </table>
</div>
<div *ngIf="!source ">
  <table
    class="table table-striped table-sm table-bordered"
    style="text-align: center; margin-bottom: 0;"
  >
    <tr>
      <ng-container *ngIf="valueset.valuesets.derived[igId]">
        <td
          [attr.rowspan]="valueset.valuesets.derived[igId]?.value.length + 1"
          style="width: 10px;"
          class="binding-vs"
        ></td>
      </ng-container>
      <ng-container *ngIf="!valueset.valuesets.derived[igId]">
        <td
          [attr.rowspan]="valueset.valuesets.src.value.length + 1"
          style="width: 10px;"
          class="binding-vs"
        ></td>
      </ng-container>

      <td style="vertical-align: middle; width: 25px;">
        <!-- <app-binding-badge [context]="ctx"></app-binding-badge> -->
      </td>
      <ng-container *ngIf="valueset.strength.derived[igId]">
        <td [pTooltip]="valueset.strength.derived[igId]?.value" tooltipPosition="top" class="changed">
          <ng-container [ngSwitch]="valueset.strength.derived[igId]?.value">
            <strong *ngSwitchCase="'Suggested'">S</strong>
            <strong *ngSwitchCase="'Required'">R</strong>
            <strong *ngSwitchCase="'Unspecified'">U</strong>
          </ng-container>
        </td>
      </ng-container>
      <ng-container *ngIf="!valueset.strength.derived[igId]">
        <td [pTooltip]="valueset.strength.src.value" tooltipPosition="top">
          <ng-container [ngSwitch]="valueset.strength.src.value">
            <strong *ngSwitchCase="'Suggested'">S</strong>
            <strong *ngSwitchCase="'Required'">R</strong>
            <strong *ngSwitchCase="'Unspecified'">U</strong>
          </ng-container>
        </td>
      </ng-container>


      <ng-container *ngIf="valueset.locations.derived[igId]">
          <td pTooltip="Binding Locations" tooltipPosition="top" class="changed">
              <strong>{{valueset.locations.derived[igId]?.value.length > 0 ? (valueset.locations.derived[igId]?.value | json) : '.'}}</strong>
          </td>
        </ng-container>
        <ng-container *ngIf="!valueset.locations.derived[igId]">
          <td pTooltip="Binding Locations" tooltipPosition="top">
              <strong>{{valueset.locations.src.value.length > 0 ? (valueset.locations.src.value | json) : '.'}}</strong>
          </td>
        </ng-container>
    </tr>
    <ng-container *ngIf="valueset.valuesets.derived[igId]">
      <tr
        *ngFor="let item of valueset.valuesets.derived[igId]?.value"
        [ngClass]="{'changed': item.status === 'changed', 'added': item.status === 'added'}"
      >
        <td colspan="3">
          <div
            tooltipPosition="top"
            style="display: flex; flex-direction: row; align-items: center;"
          >
            <!-- <app-display-ref [element]="item" [hideDescription]="true"></app-display-ref> -->
            {{ item.bindingIdentifier }}
          </div>
        </td>
      </tr>
    </ng-container>
    <ng-container *ngIf="!valueset.valuesets.derived[igId]">
      <tr *ngFor="let item of valueset.valuesets.src.value">
        <td colspan="3">
          <div
            tooltipPosition="top"
            style="display: flex; flex-direction: row; align-items: center;"
          >
            <!-- <app-display-ref [element]="item" [hideDescription]="true"></app-display-ref> -->
            {{ item.bindingIdentifier }}
          </div>
        </td>
      </tr>
    </ng-container>
  </table>

  <div (click)="codeViewer()" style="text-align: center;">
      <fa-icon [icon]="['fas', 'eye']"></fa-icon>

  </div>
</div>
