
.binding {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.segment-vs {
  background-color: #001aff;
}
.profile-vs {
  background-color: #a75a01;
}

.datatype-field-vs {
  background-color: #ff9e1e;
}
.datatype-component-vs {
  background-color: #ffd900;
}



.warning {
  background-color: #ffeb9c;
}
.info {
  background-color: #c5f0cd;
}
.error {
  background-color: #ffc6cd;
}
