<ng-container [ngSwitch]="context">
  <ng-container *ngSwitchCase="'profile'">
    <div
      pTooltip="Message"
      tooltipPosition="top"
      class="binding profile-vs"
    ></div>
  </ng-container>
  <ng-container *ngSwitchCase="'segment'">
    <div
      pTooltip="Segment"
      tooltipPosition="top"
      class="binding segment-vs"
    ></div>
  </ng-container>
  <ng-container *ngSwitchCase="'datatype_field'">
    <div
      pTooltip="Datatype (field)"
      tooltipPosition="top"
      class="binding datatype-field-vs"
    ></div>
  </ng-container>
  <ng-container *ngSwitchCase="'datatype_component'">
    <div
      pTooltip="Datatype (component)"
      tooltipPosition="top"
      class="binding datatype-component-vs"
    ></div>
  </ng-container>
  <ng-container *ngSwitchCase="'warning'">
    <div
      pTooltip="Potentially not allowable and needs moderate follow-up."
      tooltipPosition="top"
      class="binding warning"
    ></div>
  </ng-container>
  <ng-container *ngSwitchCase="'error'">
    <div
      pTooltip="Not allowable and needs intensive follow-up."
      tooltipPosition="top"
      class="binding error"
    ></div>
  </ng-container>
  <ng-container *ngSwitchCase="'informational'">
    <div
      pTooltip="Different than what’s in the guide, but is allowable."
      tooltipPosition="top"
      class="binding info"
    ></div>
  </ng-container>
</ng-container>
 